header{
  background: linear-gradient(45deg, #0A1C23, #47C7EF);
    padding: 20px;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid #47C7EF;
}
.LinkProducao{
  color: #fff;
}