.menu-esquerdo{
  background-color: #2B2C2D;
  width: 100%;
}

.menu-esquerdo ul{
  list-style: none;
}

.menu-esquerdo ul li{
  color: #fff;
  padding: 20px 40px;
  border-bottom: 1px solid #000;
  cursor: pointer;
}

.menu-active{
  color: #47c7ef !important;
}

/* media 1024*/
@media (min-width: 1024px){
  .menu-esquerdo{
    height: 87vh;
    width: 20vw;
  }
  .menu-active{
    border-left: 3px solid #47c7ef;
  }
}