.login{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-banner{
  background: radial-gradient(farthest-side at -60% -100% ,#47C7EF 0%, #0A1C23 100%);
  width: 100%;
  position: relative;
  height: 400px;
}

.login-banner--logo{
  color: #ccc;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
}

.login-banner--conteudo{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-banner--conteudo img{
  margin-top: 40px;
  width: 100%;
}

.login-banner--conteudo p{
  color: #47C7EF;
    max-width: 200px;
    font-size: 14px;
}

.login-form{
  width: 100%;
  position: relative;
}

.login-form form{
    background-color: #fff;
    padding: 40px;
    box-shadow: 4px 4px 20px #0000001a;
    flex-direction: column;
    display: flex;
}

.login-form form hr{
  width: 100%;
}

.login-form form label{
  font-weight: 600;
  margin-bottom: 10px;
}

.login-form form input{
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
}

.login-form form button{
  padding: 12px;
    border-radius: 5px;
    border: 1px solid #077391;
    background-color: #077391;
    color: #fff;
    font-size: 18px;
    transition: .3s all ease-in-out;
}

.login-form form button:focus{
  outline: none;
}

.login-form form button:hover{
  background-color: transparent;
  color: #077391;
}

.login-form form h3{
      font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.login-form form p{
  margin-bottom: 20px;
}

.esqueceu-senha{
  color: #47C7EF;
  margin-bottom: 20px;
  cursor: pointer;
}

/* screen 1280 */
@media (min-width:1280px){
  .login-banner--conteudo img{
    width: inherit;
  }
}

/* screen 1024 */
@media (min-width:1024px){
  .login{
    flex-direction: row;
  }
  .login-form form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
  }
  .login-banner{
    height: 100%;
  }
  .login{
      height: 92vh;
  }
}