<section class="login">

  <article class="login-banner">
    <div class="login-banner--conteudo">
      <div class="login-banner--logo"></div>
      <p class="login-banner--descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      <picture>
        <img src="https://cdn.jsdelivr.net/gh/valdney89/angular-TesteSonda@master/src/assets/imgs/Ativo%202.png" alt="computador com conexões diferentes">
      </picture>
    </div>
  </article>

  <article class="login-form">
    <h3>Entrar no sistema</h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. </p>
    <form></form>
  </article>

</section>