
<submenu></submenu>

<section class="dashboard-main">

<menu-esquerdo></menu-esquerdo>

<article class="dashboard-conteudo">
  <bloco-titulo></bloco-titulo>
  <article class="dashboard-home">
    <div class="dashboard-home--logo">
      <svg width="50" height="50" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 5.68182L6.81818 0L19.3182 5.68182L26.1364 19.3182L19.3182 25H0V5.68182Z" fill="#737373"/>
        <rect x="6.81818" width="19.3182" height="19.3182" fill="#C4C4C4"/>
        </svg>
        Sistema ABC
    </div>
  </article>
</article>

</section>