.submenu{
  background-color: #021217;
}

.submenu--avatar{
  color: #fff;
  width: 20vw;
  padding: 15px;
  position: relative;
}

.submenu--avatar::after{
  content: '';
  position: absolute;
    width: 2px;
    height: 30px;
    background-color: #47c7ef;
    right: 0;
    top: 8px;
}