<section class="submenu">
  <div class="submenu--avatar">Fulano Lorem Ipsum</div>
  <div class="submenu--menu">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <div class="submenu--logo">
    <svg width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 5.68182L6.81818 0L19.3182 5.68182L26.1364 19.3182L19.3182 25H0V5.68182Z" fill="#737373"/>
        <rect x="6.81818" width="19.3182" height="19.3182" fill="#C4C4C4"/>
        </svg>
        Sistema ABC
  </div>
</section>